html,body{
    /* background-image: linear-gradient(135deg, rgba(251, 250, 248, 0.59) 20%, rgb(253, 220, 171) 80%);  */
    background-position: center;
    background-size: auto;
    background-color: rgb(186, 236, 245);
  }
  * {
    font-family: "Roboto Slab", serif;
    box-sizing: border-box;
    
  }
  .root {
    position: relative;
    margin: 3vh auto;
    border: solid black;
    display: flex;
    max-width: 1300px;
    height: auto;
    padding: 30px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: -2px -2px 8px 8px rgba(0, 0, 0, 0.07);
  }
  .h1{     
    text-decoration: underline;
  }
  .btn {
    margin: 10px 0;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 2px;
    padding: 7px 25px;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #000000;
    transition: ease-out 0.4s;
  }
  .btn:hover {
    transition: ease-out 0.4s;
    box-shadow: inset 0 400px  0 0 #000000;
    color: white;
  }
  input {
    border: 2.5px solid rgb(0, 0, 0);
    width: 300px;
    padding-left: 20px;
    height: 38px;
    margin: 10px 5px 10px 0;
    font-size: 16px;
  }
  .btn-pdf {
    position: absolute;
    bottom: 60px;
    right: 40px;
    padding: 7px 25px;
    border-radius: 5%;
    border: #351919 solid 2px;
    color: #f40f02;
    background-color: rgb(251, 246, 246);
    font-weight: bold;
    cursor: pointer;
    transition: color 0.5s;
    transition: background-color 0.5s;
  }

  .btn-pdf:hover {
    border: #ffffff solid 2px;
    transition: color 0.5s;
    transition: background-color 0.5s;
    color: rgb(251, 246, 246);
    background-color: #f40f02;
  }

  .word,
  .text {
    margin: 15px;
  }
  img {
    max-width: 500px;
    height: 300px;
    margin: 40px auto;
  }
  .left {
    flex: 50%;
    height: 800px;
  }
  .right {
    flex: 50%;
    height: 100%;
  }
  .top-right {
    height: 50%;
  }
  .bottom-right {
    align-self: center;
    margin: 0 auto;
    height: 50%;
  }
  .bottom-right ul {
    margin-left: 80px;
  }
  .bottom-right h2 {
    margin-left: 100px;
  }

  @media screen and (max-width: 1024px) {
    .root {
      margin: 0 auto;
      border: solid black;
      display: flex;
      flex-direction: column;
      max-width: 1300px;
      height: auto;
    }
    img {
      max-width: 400px;
      height: auto;
    }
    .left {
      flex: 45%;
      height: 800px;
    }
    .right {
      flex: 55%;
      height: 100%;
    }
    .top-right {
      height: 50%;
    }
    .bottom-right ul {
      margin-left: 10px;
      margin-bottom: 50px;
    }
    .bottom-right h2 {
      margin-left: 15px;
    }
    .btn-pdf {
    position: absolute;
    bottom: 10px;
    left: 32px;
    padding: 5px 15px;
    font-size: 13px;
    
  }
  }
  @media screen and (max-width: 500px) {
    .root {
      margin: 0 auto;
      border: solid black;
      display: flex;
      flex-direction: column;
      max-width: 1300px;
      height: auto;
    }
    img {
      max-width: 270px;
      height: auto;
    }
    .left {
      flex: 45%;
      height: 800px;
    }
    .right {
      flex: 55%;
      height: 100%;
    }
    .top-right {
      height: 50%;
    }
    .bottom-right ul {
      margin-left: 0;
      margin-bottom: 50px;
    }
    .bottom-right h2 {
      margin-left: 0;
    }
    .btn-pdf {
    position: absolute;
    bottom: 10px;
    left: 32px;
    padding: 5px 15px;
    font-size: 13px;
  }
  }
  @media screen and (max-width: 320px) {
    * {
      font-size: 18px;
    }
    img {
      width: 200px;
      height: auto;
    }      
    .bottom-right ul {
      font-size: 18px;
    }
    .bottom-right h2 {
      margin-left: 4px;
    }
    audio {
      width: 210px;
      border: solid white;
      box-shadow: 3px;
    }
    input[type="text"] {
      width: 200px;
      padding-left: 20px;
      height: 38px;
      margin: 10px 5px 10px 0;
      font-size: 16px;
    }
    .btn-pdf {
    left: 35px;
  }
  }